<div class="board-view-container">
  <form [formGroup]="postForm" novalidate>
    <div class="input-group">
      <label for="title">제목</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        placeholder="제목을 입력하세요..."
        [readonly]="currentMode === AppTypes.PageMode.view"
      />
    </div>

    <div class="input-group">
      <label for="author">작성자</label>
      <input
        type="text"
        id="author"
        formControlName="author"
        placeholder="작성자명"
        [readonly]="currentMode === AppTypes.PageMode.view"
      />
    </div>

    <div class="input-group" *ngIf="currentMode !== AppTypes.PageMode.view">
      <label for="password">비밀번호</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="비밀번호를 입력하세요..."
      />
    </div>

    <div class="input-group">
      <label for="content">내용</label>
      <textarea
        id="content"
        formControlName="content"
        rows="10"
        placeholder="내용을 작성하세요..."
        [readonly]="currentMode === AppTypes.PageMode.view"
      ></textarea>
    </div>

    <div class="form-actions">
      <ng-container *ngIf="currentMode === AppTypes.PageMode.view">
        <button type="button" class="list-btn" (click)="handleListClick()">
          목록
        </button>

        <div class="form-modify-actions">
          <button type="button" class="delete-btn" (click)="handleDeleteClick()">
            삭제
          </button>

          <button type="button" class="edit-btn" (click)="handleEditClick()">
            편집
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="currentMode !== AppTypes.PageMode.view">
        <button type="button" class="cancel-btn" (click)="handleCancelClick()" [disabled]="isSubmitting">
          취소
        </button>

        <button
          *ngIf="currentMode === AppTypes.PageMode.create"
          type="submit" class="submit-btn" (click)="submitPostForm()" [disabled]="isSubmitting">
          등록
        </button>

        <button
          *ngIf="currentMode === AppTypes.PageMode.edit"
          type="submit" class="submit-btn" [disabled]="isSubmitting">
          수정
        </button>
      </ng-container>
    </div>
  </form>

  <div
    *ngIf="currentMode === AppTypes.PageMode.view"
    class="comments-section">
    <div class="comments-list">
      <div *ngFor="let comment of commentList.list" class="comment">
        <div class="comment-author">작성자: {{ comment.writer }}</div>
        <div class="comment-text">{{ comment.content }}</div>
      </div>
    </div>

    <form [formGroup]="commentForm" novalidate class="comment-form">
      <!-- 댓글 입력 부분 -->
      <div class="comment-user-group">
        <input
          class="comment-author-input"
          type="text"
          formControlName="writer"
          placeholder="작성자명"
        />
        <input
          class="comment-password-input"
          type="password"
          formControlName="password"
          placeholder="비밀번호"
        />
      </div>
      <textarea
        formControlName="content"
        placeholder="댓글을 입력하세요..."
      ></textarea>
      <button type="button" class="submit-comment" (click)="submitCommentForm()">
        등록
      </button>
    </form>
  </div>
</div>
