<div class="board-view-container">
  <form [formGroup]="postForm" novalidate>
    <div class="input-group">
      <label for="title">제목</label>
      <input
        id="title"
        type="text"
        placeholder="제목을 입력하세요..."
        formControlName="title"
        [readonly]="currentMode === AppTypes.PageMode.view"
      />
    </div>

    <div class="input-group">
      <label for="author">작성자</label>
      <input
        id="author"
        type="text"
        placeholder="작성자명"
        formControlName="author"
        [readonly]="currentMode === AppTypes.PageMode.view"
      />
    </div>

    <div *ngIf="currentMode !== AppTypes.PageMode.view" class="input-group">
      <label for="password">비밀번호</label>
      <input
        id="password"
        type="password"
        placeholder="비밀번호를 입력하세요..."
        formControlName="password"
      />
    </div>

    <div class="input-group">
      <label for="content">내용</label>
      <textarea
        id="content"
        rows="10"
        placeholder="내용을 작성하세요..."
        formControlName="content"
        [readonly]="currentMode === AppTypes.PageMode.view"
      ></textarea>
    </div>

    <div class="form-actions">
      <ng-container *ngIf="currentMode === AppTypes.PageMode.view">
        <button class="list-btn" type="button" (click)="handleListClick()">
          목록
        </button>

        <div class="form-modify-actions">
          <button class="delete-btn" type="button" (click)="handleDeleteClick()">
            삭제
          </button>

          <button class="edit-btn" type="button" (click)="handleEditClick()">
            편집
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="currentMode !== AppTypes.PageMode.view">
        <button class="cancel-btn" type="button" (click)="handleCancelClick()" [disabled]="isLoading">
          취소
        </button>

        <button
          *ngIf="currentMode === AppTypes.PageMode.create"
          class="submit-btn"
          type="submit"
          (click)="submitPostForm()"
          [disabled]="isLoading">
          등록
        </button>

        <button
          *ngIf="currentMode === AppTypes.PageMode.edit"
          class="submit-btn"
          type="submit"
          (click)="submitPostForm()"
          [disabled]="isLoading">
          수정
        </button>
      </ng-container>
    </div>
  </form>

  <div *ngIf="currentMode === AppTypes.PageMode.view" class="comments-section">
    <div class="comments-list">
      <div class="comment" *ngFor="let comment of commentList.list">
        <div class="comment-author">작성자: {{ comment.writer }}</div>
        <div class="comment-text">{{ comment.content }}</div>
      </div>
    </div>

    <form [formGroup]="commentForm" novalidate class="comment-form">
      <div class="comment-user-group">
        <input
          class="comment-author-input"
          type="text"
          placeholder="작성자명"
          formControlName="writer"
        />
        <input
          class="comment-password-input"
          type="password"
          placeholder="비밀번호"
          formControlName="password"
        />
      </div>
      <textarea
        placeholder="댓글을 입력하세요..."
        formControlName="content"
      ></textarea>
      <button
        class="submit-comment"
        type="button"
        (click)="submitCommentForm()"
        [disabled]="isLoading">
        등록
      </button>
    </form>
  </div>
</div>
